
# Elastic Beanstalk Files
app/.elasticbeanstalk/*
!app/.elasticbeanstalk/*.cfg.yml
!app/.elasticbeanstalk/*.global.yml
.idea/
.venv/

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class
